@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: "Inter", sans-serif;
	--font-mono: "JetBrains Mono", monospace;
	--font-heading: var(--font-heading);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) * 0.6);
	--radius-md: calc(var(--radius) * 0.8);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) * 1.4);
	--radius-2xl: calc(var(--radius) * 1.8);
	--radius-3xl: calc(var(--radius) * 2.2);
	--radius-4xl: calc(var(--radius) * 2.6);
	--font-serif: "EB Garamond", serif;
	--radius: 0.5rem;
	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
	--tracking-normal: var(--tracking-normal);
	--shadow-2xl: var(--shadow-2xl);
	--shadow-xl: var(--shadow-xl);
	--shadow-lg: var(--shadow-lg);
	--shadow-md: var(--shadow-md);
	--shadow: var(--shadow);
	--shadow-sm: var(--shadow-sm);
	--shadow-xs: var(--shadow-xs);
	--shadow-2xs: var(--shadow-2xs);
	--spacing: var(--spacing);
	--letter-spacing: var(--letter-spacing);
	--shadow-offset-y: var(--shadow-offset-y);
	--shadow-offset-x: var(--shadow-offset-x);
	--shadow-spread: var(--shadow-spread);
	--shadow-blur: var(--shadow-blur);
	--shadow-opacity: var(--shadow-opacity);
	--color-shadow-color: var(--shadow-color);
	--color-destructive-foreground: var(--destructive-foreground);
}

:root {
	--background: oklch(0.9585 0.0098 87.4715);
	--foreground: oklch(0.334 0.0283 158.6198);
	--card: oklch(0.9585 0.0098 87.4715);
	--card-foreground: oklch(0.334 0.0283 158.6198);
	--popover: oklch(0.9585 0.0098 87.4715);
	--popover-foreground: oklch(0.334 0.0283 158.6198);
	--primary: oklch(0.6823 0.1634 46.242);
	--primary-foreground: oklch(0.9585 0.0098 87.4715);
	--secondary: oklch(0.4853 0.0447 157.0418);
	--secondary-foreground: oklch(0.9585 0.0098 87.4715);
	--muted: oklch(0.8949 0.0212 124.6861);
	--muted-foreground: oklch(0.5143 0.0201 158.6236);
	--accent: oklch(0.7017 0.0523 130.4178);
	--accent-foreground: oklch(0.334 0.0283 158.6198);
	--destructive: oklch(0.4913 0.1344 36.3522);
	--border: oklch(0.8614 0.025 129.928);
	--input: oklch(0.8949 0.0212 124.6861);
	--ring: oklch(0.6823 0.1634 46.242);
	--chart-1: oklch(0.6823 0.1634 46.242);
	--chart-2: oklch(0.4853 0.0447 157.0418);
	--chart-3: oklch(0.7017 0.0523 130.4178);
	--chart-4: oklch(0.5435 0.0322 225.1823);
	--chart-5: oklch(0.7898 0.0479 86.4417);
	--radius: 0.5rem;
	--sidebar: oklch(0.9585 0.0098 87.4715);
	--sidebar-foreground: oklch(0.334 0.0283 158.6198);
	--sidebar-primary: oklch(0.6823 0.1634 46.242);
	--sidebar-primary-foreground: oklch(0.9585 0.0098 87.4715);
	--sidebar-accent: oklch(0.8949 0.0212 124.6861);
	--sidebar-accent-foreground: oklch(0.334 0.0283 158.6198);
	--sidebar-border: oklch(0.8614 0.025 129.928);
	--sidebar-ring: oklch(0.6823 0.1634 46.242);
	--destructive-foreground: oklch(0.9585 0.0098 87.4715);
	--font-sans: "Inter", sans-serif;
	--font-serif: "EB Garamond", serif;
	--font-mono: "JetBrains Mono", monospace;
	--shadow-color: #000000;
	--shadow-opacity: 0;
	--shadow-blur: 0px;
	--shadow-spread: 0px;
	--shadow-offset-x: 0px;
	--shadow-offset-y: 0px;
	--letter-spacing: -0.01em;
	--spacing: 0.25rem;
	--shadow-2xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
	--shadow-xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
	--shadow-sm:
		0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow:
		0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow-md:
		0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
	--shadow-lg:
		0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
	--shadow-xl:
		0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
	--shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0);
	--tracking-normal: -0.01em;
}

.dark {
	--background: oklch(0.2488 0.017 163.1986);
	--foreground: oklch(0.8949 0.0212 124.6861);
	--card: oklch(0.2488 0.017 163.1986);
	--card-foreground: oklch(0.9585 0.0098 87.4715);
	--popover: oklch(0.2488 0.017 163.1986);
	--popover-foreground: oklch(0.9585 0.0098 87.4715);
	--primary: oklch(0.7391 0.1484 46.9563);
	--primary-foreground: oklch(0.2488 0.017 163.1986);
	--secondary: oklch(0.6751 0.052 158.5571);
	--secondary-foreground: oklch(0.2488 0.017 163.1986);
	--muted: oklch(0.334 0.0283 158.6198);
	--muted-foreground: oklch(0.7017 0.0523 130.4178);
	--accent: oklch(0.5143 0.0201 158.6236);
	--accent-foreground: oklch(0.9585 0.0098 87.4715);
	--destructive: oklch(0.6223 0.1575 35.6546);
	--border: oklch(0.334 0.0283 158.6198);
	--input: oklch(0.334 0.0283 158.6198);
	--ring: oklch(0.7391 0.1484 46.9563);
	--chart-1: oklch(0.7391 0.1484 46.9563);
	--chart-2: oklch(0.6751 0.052 158.5571);
	--chart-3: oklch(0.7017 0.0523 130.4178);
	--chart-4: oklch(0.7054 0.0324 223.0839);
	--chart-5: oklch(0.8662 0.049 88.8104);
	--sidebar: oklch(0.2488 0.017 163.1986);
	--sidebar-foreground: oklch(0.8949 0.0212 124.6861);
	--sidebar-primary: oklch(0.7391 0.1484 46.9563);
	--sidebar-primary-foreground: oklch(0.2488 0.017 163.1986);
	--sidebar-accent: oklch(0.334 0.0283 158.6198);
	--sidebar-accent-foreground: oklch(0.9585 0.0098 87.4715);
	--sidebar-border: oklch(0.334 0.0283 158.6198);
	--sidebar-ring: oklch(0.7391 0.1484 46.9563);
	--destructive-foreground: oklch(0.9585 0.0098 87.4715);
	--radius: 0.5rem;
	--font-sans: "Inter", sans-serif;
	--font-serif: "EB Garamond", serif;
	--font-mono: "JetBrains Mono", monospace;
	--shadow-color: #000000;
	--shadow-opacity: 0;
	--shadow-blur: 0px;
	--shadow-spread: 0px;
	--shadow-offset-x: 0px;
	--shadow-offset-y: 0px;
	--letter-spacing: -0.01em;
	--spacing: 0.25rem;
	--shadow-2xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
	--shadow-xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
	--shadow-sm:
		0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow:
		0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow-md:
		0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
	--shadow-lg:
		0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
	--shadow-xl:
		0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
	--shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
		letter-spacing: var(--tracking-normal);
	}
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
	html {
		@apply font-mono;
	}
}
